@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  /* কালার প্যালেট */
  --color-primary-0: #2563eb;
  --color-secondary-0: #16a34a;
  --color-background-0: #f8fafc;
  --color-text-0: #0f172a;

 
  --font-size-base: 16px; 
  --font-size-heading-lg: 2rem;
  --line-height-custom: 1.5;

  --font-sans: "Inter", "Segoe UI", Roboto, sans-serif;
}

body {
  @apply bg-background-0 text-text-0 text-base;
  
  font-family: var(--font-sans);
  
  /* for smooth rendaring */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}